<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<style type="text/css" media="screen">
  .map-tool{background:#fafbfd url('/images/campaigns/20141031-vote-for-reform-map.jpg') no-repeat 30% 60px;}
  .map-tool .jumbotron-wrap{padding-top: 70px;}
  .map-tool .jumbotron{position:relative;padding-bottom:30px;}
    /*.map-tool .jumbotron > a.ir{background:transparent url('/images/hero/youtube.png') no-repeat center center;}*/
    .map-tool .jumbotron .jumbotron-content{background: rgba(255,255,255,1);border:10px solid #999;text-align:left;}
    .map-tool p {text-shadow:0 0 3px #fff;}
    .map-tool .jumbotron h2{line-height:95%;}
    .map-tool .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;width:54%;}
@media screen and (min-width: 1700px) {
  /*.map-tool .jumbotron-wrap {background-position: -250px -100px}*/
}
@media screen and (max-width: 1174px) {
  .map-tool {background-position: 10% 60px}
}
@media screen and (max-width: 992px) {
  .map-tool .jumbotron .container{background: rgba(255,255,255,0.95); }
  .map-tool {background-position: center 20px !important}
  .map-tool .jumbotron .jumbotron-content{width:100%; background:transparent;border:none;}
  .map-tool .jumbotron > a.ir.link-cover{display: none;}
}
</style>

<div class="jumbotron-wrap">
  <section class="jumbotron">
    <a href="/campaigns/vote-for-reform/" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-offset-7 col-md-5 jumbotron-content">
        <hr />
        <h2>Vote for Reform!</h2>
        <p>Before you go to the polls on Nov. 4 be sure to find out who supports reform in your district.</p>
        <a href="/campaigns/vote-for-reform/" class="btn">#vote4reform</a>
        <hr />
      </div>
    </div>
  </section>
</div>