<style type="text/css" media="screen">
  .time-video{background:#051d29 url('/images/hero/20141025-time-inc-lessig-video-3.jpg') no-repeat center 0;background-size:cover}
  .time-video .jumbotron-wrap{padding-top: 70px;}
  .time-video .jumbotron{position:relative;padding-bottom:30px;}
    /*.time-video .jumbotron > a.ir{background:transparent url('/images/hero/youtube.png') no-repeat center center;}*/
    .time-video .jumbotron .jumbotron-content{background: rgba(255,255,255,1);border:10px solid #999}
    .time-video p {text-shadow:0 0 3px #fff;}
    .time-video .jumbotron h2{line-height:95%;}
    .time-video .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;width:54%;}
@media screen and (min-width: 1700px) {
  /*.time-video .jumbotron-wrap {background-position: -250px -100px}*/
}
@media screen and (max-width: 1174px) {
  /*.time-video .jumbotron-wrap {background-position: 70% -100px}*/
}
@media screen and (max-width: 992px) {
  .time-video .jumbotron .container{background: rgba(255,255,255,0.95); }
  /*.time-video .jumbotron-wrap{background-position: center -100px}*/
  .time-video .jumbotron .jumbotron-content{width:100%; background:transparent;border:none;}
  .time-video .jumbotron > a.ir.link-cover{display: none;}
}
</style>

<div class="jumbotron-wrap">
  <section class="jumbotron">
    <a href="https://mayday.us/campaigns/20141025-time-inc-lessig-video/" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-offset-7 col-md-5 jumbotron-content">
        <hr />
        <h2>It’s Time to Reclaim our Democracy</h2>
        <p>Watch Lessig's new inspiring video from our friends at The Nantucket Project, as seen in TIME.</p>
        <a href="https://mayday.us/campaigns/20141025-time-inc-lessig-video/" class="btn">Watch now</a>
        <hr />
      </div>
    </div>
  </section>
</div>