<style type="text/css" media="screen">
.timeline-graphic{background:#fff url('/images/hero/20141104-timeline-2.png') no-repeat center 0;}
.timeline-graphic .jumbotron-wrap{padding-top: 70px;}
.timeline-graphic .jumbotron-wrap .container h2{margin-top:30px;}
.timeline-graphic .jumbotron{position:relative;padding-bottom:30px;}
  .timeline-graphic .jumbotron .jumbotron-content{background: rgba(255,255,255,0.8);}
  .timeline-graphic .jumbotron h2{line-height:95%;}
  .timeline-graphic .jumbotron a.ir.link-cover{display:block; width:100%; height:100%;min-height:390px; position:absolute;top:0;bottom:0;z-index:100;}


@media screen and (max-width: 1120px) {
    .timeline-graphic{background-position: -340px 0}
}
@media screen and (max-width: 992px) {
  .timeline-graphic .jumbotron .container{float:right;margin-right:20px;width:410px;background:rgba(255,255,255,0.95);margin-top:85px;padding:20px}
    .timeline-graphic .jumbotron .container h2{text-align:right;margin-top:0;}
    .timeline-graphic .jumbotron .container .btn{float:right;margin-right:10px;}
  .timeline-graphic{background-position: -340px -100px}
  .timeline-graphic .jumbotron .jumbotron-content{width:100%; background:transparent;}
  .timeline-graphic .jumbotron > a.ir.link-cover{display: none;}
}


</style>

<div class="jumbotron-wrap" style="">
  <section class="jumbotron">
    <div class="container">
      <a href="/campaigns/20141107-reporting-back/" title="Election Results!" class="ir link-cover">&nbsp;</a>
      <h2>2014 Election<br /> Results</h2>
      <a href="/campaigns/20141107-reporting-back/" class="btn">Read more</a>
    </div>
  </section>
</div>