<style type="text/css" media="screen">
.thank-you .container{background:transparent}
.thank-you .custom-column{padding:0;width:390px;margin:0 auto;background:none}
.thank-you{background:#e0e6f0;text-align:center}
.thank-you h2{font-size:70px;margin-bottom:10px;white-space:nowrap}
.thank-you h3{font-family:roboto condensed, roboto, sans}

@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 500px) {
  .thank-you h2{white-space:normal;}
  .thank-you .custom-column{width:auto}
}


</style>

<div class="jumbotron-wrap" style="">
  <section class="jumbotron">
    <div class="container">
      <div class="custom-column">
        <h2>Thank You</h2>
        <hr/>
        <h3>We are so grateful to all of you who<br/> have played a part. Stay tuned.</h3>
      </div>
    </div>
  </section>
</div>