/***** GENERAL STYLES ****/

.capitalize { text-transform: capitalize; }
.cursor { cursor: pointer; }
.inline { float: left; display: inline; }

/****** D3 MAP STYLES ****/

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.districts, .states {
  fill: #bbb;
}

.districts :hover, .states :hover {
  fill: #ccc;
}

.reformer { fill:rgb(158,202,225); }
.reformer:hover { fill:rgb(107,174,214); }


.endorsed { fill:rgb(8,48,107); }
.endorsed:hover { fill: #011d2b; }

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

/* LEGEND STYLES */

.legend{overflow: hidden;}
.legend .bttn {
  border            : 1px solid #efefef;
  padding           : 5px 10px;
  margin            : 10px 0px;
}

.map-key{
  float:right;
}
.map-key p{margin-top:5px;}

.map-key p.box {
  width: 17px;
  height: 16px;
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 9px;
}

.box.mayday {
  background-color      : rgb(8,48,107);
}

.box.reform {
  background-color      : rgb(107,174,214);
}

.box.no-supporters {
  background-color      : #bbb;
}

/******** CANDIDATE STYLES ********/

#candidates {
  padding: 10px;
  min-height: 170px;
  position: absolute;
  bottom: 140px;
  width: 200px;
}

#candidates h3 {
  padding-bottom:0px;font-size:22px;line-height:normal;font-weight:100px
}

#candidates h4 {
  margin-top    : 0px;
  padding-top   : 0px;
  font-weight   : normal;
  font-style    : italic;
}

#candidates p{margin-bottom:0;font-size:16px;margin-bottom:30px;line-height: normal;}
#candidates p.intro-text{font-size: 20px}
