---
layout: default
title: We love the MAYDAY community and are energized by the constant outpouring of support!
omit_title_suffix: true
cssid: supporters-speak
hideSidebar: true
og_title: We love the MAYDAY community and are energized by the constant outpouring of support!
og_description: Support MAYDAY and the reform community in our fight against corruption. Let's keep the momentum going!
og_image: '/images/campaigns/20141117-supporters-speak/atkinson-handwritten-4.jpg'
supporters:
  - type: imageOnly
    photoFileName: atkinson-handwritten-4.jpg
    photoAlt: A Atkins
    photoWidth: 500
    photoHeight: 460
  - type: quoteAndImage
    name: Kristofer
    shortName: Kris
    state: California
    quote: 'Lawrence, you have wasted no ones time nor money. I too am with you. Onward! '
    photoFileName: supporter-kris-ca.jpg
  - type: quoteAndImage
    name: Naushard
    shortName: Naushard
    state: Massachusetts
    quote: 'Thank you for helping us to see the things that have been hidden for a long time. We are with you and with Mayday.'
    photoFileName: supporter-naushard-ma.jpg
  - type: quoteAndImage
    name: Andrea
    shortName: Andrea
    state: California
    quote: 'This is important. Do not give up. Rome was not built in a day and we will not be able to take back our country overnight. If we don&rsquo;t hang in there we deserve what we get.'
    photoFileName: supporter-andrea-ca.jpg
  - type: quoteOnly
    name: Eric
    shortName: Eric
    state: California
    quote: 'Hi Mr. Lessig, Thanks for all your work on this, I really do think that this is the main  thing that has to happen before we can right the ship. Once this falls, I think the other bits will be much easier to change.'
  - type: quoteAndImage
    name: Aliza
    shortName: Aliza
    state: Maryland
    quote: 'Today I unsubscribed from all the Democratic organizations I supported or ignored during this latest campaign. But not from MAYDAY.US. Your work and the analytical way you go about it will get my continuous support in future campaigns.
Keep it up!'
    photoFileName: supporter-aliza-md.jpg
  - type: quoteAndImage
    name: Ted
    shortName: Ted
    state: Illinois
    quote: 'As you suggest, it&rsquo;s going to take a long time to turn the ship, but we must keep on. It takes a lot to get an issue on people&rsquo;s radar, and our two-party system — with all its flaws and evils — make it even harder. But you can&rsquo;t win if you don&rsquo;t play.'
    photoFileName: supporter-edward-il.jpg
  - type: quoteOnly
    name: Mark
    shortName: Mark
    state: Montana
    quote: 'Larry: Keep going. I think the strategy is a good one. I am willing to increase my contributions based on what I saw you doing. I will continue to talk it up at the local level.'
  - type: quoteAndImage
    name: Margaret
    shortName: Margaret
    state: New York
    quote: 'Even more with you all the way! Thanks so much for taking on this crusade! May Day PAC is a major bright spot in today&rsquo;s pervasive gloom.'
    photoFileName: supporter-margaret-ny.jpg
  - type: quoteOnly
    name: Jerry
    shortName: Jerry
    state: California
    quote: 'Lawrence, You are to be commended profoundly for your leadership and commitment to this vital work to keep elections free, open and honest. Democracy is in great peril and you have awakened us to the danger. No pun intended but you are to be revered. Thank you. '
  - type: quoteAndImage
    name: Nancy
    shortName: Nancy
    state: California
    quote: 'Thank you for the depth, sobriety and clarity of your words, and the honesty of your actions. I don’t have much, but I absolutely pledge my continued support. Please lead on.'
    photoFileName: supporter-nancy-ca.jpg
  - type: quoteOnly
    name: Stanley
    shortName: Stanley
    state: Pennsylvania
    quote: 'Do not dispair. All politics is cyclical.'
  - type: quoteAndImage
    name: Adam
    shortName: Adam
    state: Massachusetts
    quote: 'The energy behind reform is the fuel that will power this long-term movement, no matter the exact means and methods it takes. For your stirring up and stoking that fundamental force, I say congratulations, thank you, and keep going!'
    photoFileName: supporter-adam-ma.jpg
  - type: quoteOnly
    name: Marsha
    shortName: Marsha
    state: California
    quote: 'Keep going. This is the most important issue for this country in this decade. It&rsquo;s not a football game. It&rsquo;s about lives on the ground. '
  - type: quoteAndImage
    name: Alison
    shortName: Alison
    state: Alaska
    quote: 'I know you&rsquo;re working on figuring out the next steps, but just wanted let you know that we&rsquo;re fighting with you all the way across the country!!'
    photoFileName: supporter-alison-ak.jpg
  - type: quoteAndImage
    name: Jim
    shortName: Jim
    state: Illinois
    quote: 'History will look back at these times and ask how could a well educated and affluent population allow a small group of people to suck them dry of their wealth and political power. I encourage you to continue the battle. I will stick with you.'
    photoFileName: supporter-jim-il.jpg
  - type: quoteOnly
    name: Kate
    shortName: Kate
    state: Washington
    quote: 'OK, that was round #1. Now we gear up for round #2. Thank you to the entire team for your leadership! This is one group I am very proud to be part of - and the only group whose election-season emails I looked forward to.'
  - type: quoteAndImage
    name: Susanne
    shortName: Susanne
    state: California
    quote: 'Don&rsquo;t give up! This fight is critical, and we are with you. Let&rsquo;s do this!'
    photoFileName: supporter-susanne-ca.jpg
  - type: quoteOnly
    name: Barbara
    shortName: Barbara
    state: California
    quote: 'Wonderful! We&rsquo;re with you. You and your exemplary team are the ones we want to continue to support. You are giving us hope in what seems a dark landscape. Thank you!'
  - type: quoteAndImage
    name: Joseph
    shortName: Joe
    state: USA
    quote: Thank *you*. *You* have done by far the most work and the best work. Your clarity, your ferocious commitment and your tireless work have made this priceless effort possible for us. Without the right leadership, a flock of headless chickens we shall remain.
    photoFileName: supporter-joe-usa.jpg
  - type: quoteOnly
    name: Grace
    shortName: Grace
    state: Pennsylvania
    quote: Thank you all for your vision and hard work. There are those of us that believe deeply in what you are doing and will be loyal through it all.
  - type: quoteAndImage
    name: Josh
    shortName: Josh
    state: Washington
    quote: I couldn&rsquo;t be prouder to have supported this organization and will continue to do so - whatever you all decide is the best path forward. If anything, I feel more committed to this cause than ever and I think Mayday offers the best opportunity to push our shared vision forward. Thank you all for all of the work you do. It is a small light of hope for many of us in the dark of American politics.
    photoFileName: supporter-josh-wa.jpg
---

{% capture content %}
<link href="//fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet" type="text/css">
<style>
  .polaroid{
    float:left;
    position:relative;
    max-width:150px;
    margin:10px 20px 10px 10px;
    padding: 6px 8px;
    background: #eee6d8;
    background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -webkit-transform:rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    /* Due to a bug in the anti-liasing*/
/*    -webkit-transform-style: preserve-1d;
    -webkit-transform: rotateZ(1deg);*/
    -webkit-backface-visibility:hidden;

  }
    img.polaroid{float:none;margin:5px auto 10px;padding:6px;max-width:600px;max-height:500px;}
    .polaroid figcaption{font:normal 1.6em/1.3 'Reenie Beanie', cursive;color:#454f40;text-align:center; }
    .polaroid img{max-width:135px;}

.item .container{position:relative; top:50%;transform:translateY(-50%)}
  .imageOnly .container{text-align:center;}
  .quote-wrap{width:80%;margin:0 auto;padding:15px 20px;background-color:#fff;box-shadow:3px 3px 5px #999;}
    .quote-wrap h4{padding:-;margin:0;}
    .quoteAndImage blockquote{border:none;}
  .item footer{text-align:right;margin-right:20%;display:block;font-weight:700;font-size:1.1em;font-family:'Reenie Beanie', cursive;font-size:30px;}

.carousel-control {text-shadow:0 1px 2px #000;filter:alpha(opacity=100);opacity: .1; }
  .left.carousel-control, .right.carousel-control{background-image:none;z-index:1000;}

  .social-icons.small{margin-top:0;}
  .social-icons.small a{margin-bottom:10px;}
  .social-icons.small h3{padding-bottom:0;}
@media screen and (max-width:1024px) {
}
@media screen and (max-width:650px) {
  .social-icons.small a{margin-bottom:5px;}
  .polaroid{max-width:100px;margin-left:5px;}
    .polaroid figcaption{display:none;}
    .polaroid img{max-width:85px;}
  img.polaroid{max-width:80%;max-height:400px}
  .container h2.intro-text{line-height:normal;font-size:1.5em;}
  blockquote{padding-left:0;padding-right:0;border:none;margin:0;}
  .item footer{line-height:normal;font-size:1em;}
}
</style>


<div class="container">
  <div class="col-md-7">
    <h2 class="intro-text">We love the MAYDAY community and are energized by the constant outpouring of support!</h2>
  </div>
  <div class="col-md-5">
    <div class="social-icons small">
      <h3>Share via:</h3>
      <a target="_blank" class="twitter" href="https://twitter.com/home?status=I%20support%20%40MAYDAYUS%20and%20the%20reform%20community%20in%20our%20fight%20against%20corruption.%20Let%27s%20keep%20the%20momentum%20going%21%20http%3A%2F%2Fgoo.gl%2Fn9XLMn"><img src="/images/share_twitter_small.png"></a>
      <a target="_blank" class="facebook" href="http://www.facebook.com/sharer.php?u=https://mayday.us//campaigns/20141117-supporters-speak/"><img src="/images/share_facebook_small.png"></a>
      <a class="email" href="mailto:?subject=A%20favor%20for%20Democracy&body=Friend%2C%0A%0AI%20support%20MAYDAY%20and%20the%20reform%20community%20in%20our%20fight%20against%20corruption.%20Let%27s%20keep%20the%20momentum%20going%21%20Check%20out%20all%20the%20comments%20from%20MAYDAY%20members%20across%20the%20country%3A%20http%3A%2F%2Fgoo.gl%2Fn9XLMn%0A%0AThanks%21%0A">Email</a>
    </div>
  </div>
</div>

  <div class="carousel-wrap">
    <div id="carousel-jumbotron" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      {% assign index = 0 %}
      {% for supporter in page.supporters %}
        <div class="item {{supporter.type }} {% if index == 0 %}active{% endif %}">
          <div class="container">
            {% unless supporter.type == 'imageOnly' %}
            <div class="quote-wrap">
              {% if supporter.type == 'quoteAndImage' %}
              <figure class="polaroid">
                <img src="/images/campaigns/20141117-supporters-speak/{{supporter.photoFileName}}" alt="{{supporter.nameShort}}" />
                <figcaption>{{supporter.shortName}}</figcaption>
              </figure>
              {% endif %}
              <blockquote>
                <p>{{supporter.quote | markdownify }}</p>
              </blockquote>
              <footer>&ndash; {{supporter.name}} from {{supporter.state}}</footer>
            </div>
            {% else %}
              <img class="polaroid" src="/images/campaigns/20141117-supporters-speak/{{supporter.photoFileName}}" alt="{{supporter.photoAlt}}" width="{{supporter.photoWidth}}px" height="{{supporter.photoHeight}}px"/>
            {% endunless %}
          </div>
        </div>
        {% assign index = index+1 %}
      {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-jumbotron" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-jumbotron" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>


{% endcapture %}

{% capture footer_content %}
<script>
  $('#carousel-jumbotron').carousel({
    interval: 9000
  });
  $('#carousel-jumbotron .item').carouselHeights();
</script>
{% endcapture %}
{% include subpage_fullwidth.html %}

