<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {% include header.html %}
  <div class="carousel-wrap">
    <div id="carousel-jumbotron" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-jumbotron" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-jumbotron" data-slide-to="1"></li>
        <li data-target="#carousel-jumbotron" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner">
        <div class="item timeline-graphic active">{% include jumbotrons/20141104-timeline-graphic.html %}</div>
        <div class="item time-video">{% include jumbotrons/20141028-time-video.html %}</div>
        <div class="item winners">{% include jumbotrons/20141025-mayday-in-30-winners.html %}</div>
      </div>

      <a class="left carousel-control" href="#carousel-jumbotron" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-jumbotron" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

{% include jumbotrons/jumbotron-bottom.html %}

  <section class="cross-stitched latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12 news-intro">
          <div class="col-md-4"><hr/></div>
          <div class="col-md-4"><h3><a href="http://blog.mayday.us" title="Latest Mayday PAC News">MAYDAY.US News</a></h3></div>
          <div class="col-md-4"><hr/></div>
        </div>
        <article class="col-md-4">
          <div>
            <a class="blog-image ir" href="/campaigns/20141117-supporters-speak/"  style="background-image:url('/images/campaigns/20141117-supporters-speak/atkinson-handwritten-4-homepage.jpg');"></a>
            <div class="article-details">
              <h5>2014-11-20</h5>
              <h4>Supporters Speak Out</h4>
              <p>Support the fight against corruption. See what supporters from across the country have to say. Let's keep the momentum going!</p>
              <p><a class="btn btn-cta" href="/campaigns/20141117-supporters-speak/" role="button">Read More</a></p>
            </div>
          </div>
        </article>

<!--         <article class="col-md-4">
          <div>
            <a class="blog-image ir" href="http://mayday.us/campaigns/illustrations/be-a-good-politician/" style="background-image:url('/images/blog/20141102-be-a-good-politician.jpg');"></a>
            <div class="article-details">
              <h5>2014-11-03</h5>
              <h4>Be a Good Politician</h4>
              <p>When someone gives you a gift, you feel obligated to return the favor. The exact same thing happens everyday in congress. Help us reclaim our Democracy.</p>
              <p><a class="btn btn-cta" href="http://mayday.us/campaigns/illustrations/be-a-good-politician/" role="button">#Vote4Reform</a></p>
            </div>
          </div>
        </article> -->
        <article class="col-md-4">
          <div>
            <a class="blog-image ir" href="/campaigns/paid-for-by/"  style="background-image:url('/images/blog/20141016-PAID_FOR_BY-still.jpg');"></a>
            <div class="article-details">
              <h5>2014-10-16</h5>
              <h4>Jason Alexander: Paid For By</h4>
              <p>Seinfeld's Jason Alexander wants you to help us make "paid for by" politicians a thing of the past.</p>
              <p><a class="btn btn-cta" href="/campaigns/paid-for-by/" role="button">Watch now</a></p>
            </div>
          </div>
        </article>
        <article class="col-md-4">
          <div>
            <a class="blog-image ir" href="http://blog.mayday.us/post/98805891740/i-just-joined-the-mayday-board" style="background-image:url('/images/blog/2014-09-30-zephyr-teachout2.jpg');"></a>
            <div class="article-details">
              <h5>2014-09-30</h5>
              <h4>Zephyr Teachout joins our board</h4>
              <p>We're thrilled to announce that Zephyr Teachout – anti-corruption champion and scholar – is joining our Board of Directors.</p>
              <p><a class="btn btn-cta" href="http://blog.mayday.us/post/98805891740/i-just-joined-the-mayday-board" role="button">View details</a></p>
            </div>
          </div>
        </article>
      <hr />
    </div> <!-- /container -->
  </section>

  {% include footer.html %}

  <script>
  $(document).ready(function(){
    $(".jumbotron-content form").validate({
      rules: {
        email: {
              required: true,
              email: true
            }
        }, errorPlacement: function(error, element) {
            error.appendTo(element.parents('form'));
        },
      });
    updateTotals();

    $('#carousel-jumbotron').carousel({
      interval: 20000
    });
    $('input').on('focus', function(){
        $("#carousel-jumbotron").carousel('pause');
      }).on('blur',function() {
        $("#carousel-jumbotron").carousel('cycle');
    });
    $('#carousel-jumbotron .item').carouselHeights();
  });
  </script>


  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));

    ga('create', 'UA-50367295-1', 'mayday.us');
    ga('require', 'displayfeatures');
    window.optimizely = window.optimizely || [];
    window.optimizely.push("activateUniversalAnalytics");
    ga('send', 'pageview');

  </script>
</body>
</html>
